@use "./variables" as v;

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');


html{
    font-family: 'Manrope', sans-serif;
}

h1{
    color: v.$Neon-Green;
    font-size: 0.85rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
}

q{
    color: v.$Light-Cyan;
    font-size: 1.7rem;
    text-align: center;
    line-height: 2.5rem;
}

@media screen and(max-width:376px){
    q{
        font-size: 1.5rem;
    }
}